<html>
    <head>
        <title>Output Data</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
    </head>
    <body>
        <div class="Video">
            <div class="video-thumb"><img src=<%= data.thumbnails[data.thumbnails.length-1].url %> width="300px"></div>
            <div class="video-title">Title : <%= data.title %></div>
            <div class="video-type">Video Type : <%= data.videoInfo[0].container %></div>
            <div class="video-quality">Video Quality : <%= data.videoInfo[0].qualityLabel %></div>
            <a href=<%= data.videoInfo[0].url %> class="video-download-btn">Download</a>
        </div>
        <div class="Audio">
            <div class="audio-type">Audio Type : mp3</div>
            <div class="audio-bitrate">Audio BitRate : <%= data.videoInfo[1].audioBitrate %></div>
            <a href=<%= data.videoInfo[1].url %> class="audio-download-btn">Download</a>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
    </body>
</html>